:root {
  --lp-font-headers: 'Playfair Display', serif;
  --lp-font-body: 'Open Sans', sans-serif;
  --lp-font-code: 'JetBrains Mono', monospace;

  --text-secondary: #101010;
  --font-size-hero: 2.8rem;
  --font-size-section: 2.5rem;

  --font-size-hero-description: 1.18rem;
  --font-size-section-description: 1.15rem;
}

html, body {
  margin: 0;
}
