<nw-root [editorData]="data()" (editorDataChanged)="onEditorDataChanged($event)">
  <nw-header header>
    <nw-header-author author [authorData]="authorData" />
    <div details class="header__right-content">
      <nw-header-details [lastUpdatedDate]="documentLastUpdatedDate()"
                          [displayElements]="displayElements"
                          [elementOrder]="elementOrder"
                          [elementConfigs]="elementConfigs">
        <button class="modern-button" (click)="loadMockData()">Load Mock Data</button>
      </nw-header-details>
      <div class="vertical-divider vertical-divider--big"></div>
      <nw-document-settings-menu position="horizontal">
        <nw-favorite-button (favoriteToggle)="toggleAddToFavourite()" />
        <nw-read-only-button [isReadOnly]="isReadOnly()" (clicked)="setReadOnly($event)" />
        <nw-settings-button (settingsToggle)="toggleSidebar()" />
      </nw-document-settings-menu>
    </div>
  </nw-header>

  <nw-document-settings-menu floatingMenu position="vertical">
    <nw-favorite-button (favoriteToggle)="toggleAddToFavourite()" />
    <nw-read-only-button [isReadOnly]="isReadOnly()" (clicked)="setReadOnly($event)" />
    <nw-settings-button (settingsToggle)="toggleSidebar()" />
  </nw-document-settings-menu>

  @if (!isReadOnly()) {
    <nw-block-menu blockMenu>
      <nw-block-create-button />
      <nw-block-settings />
    </nw-block-menu>
  }

  <div class="dc" documentSettings [class.closed]="!documentSettingsOpened()">
    <nw-document-settings>
      <nw-tab-group>
        <nw-tab id="tab-general" label="General">
          <nw-document-settings-general />
        </nw-tab>
        <nw-tab id="tab-media" label="Media">
          <nw-document-settings-media />
        </nw-tab>
      </nw-tab-group>
      <img width="93" height="20" [ngSrc]="`https://img.shields.io/badge/Angular_${version.full}-blue`" alt="Current Angular Version" />
    </nw-document-settings>
  </div>
</nw-root>
