/*
 * TODO: Remember to take care of styles from quill text-toolbar: .ql-bubble.ql-text-toolbar button, .ql-bubble .ql-text-toolbar button in quill-override.scss
 */
button.nw-button {
  font-size: 13px;
  font-weight: 400;
  border: none;
  color: var(--nw-color-primary-900);
  background: none;
  display: flex;
  align-items: center;
  gap: 0;
  transition: all 0.3s;
  border-radius: 3px;
  cursor: pointer;
  padding: 4px;
  font-family: var(--nw-font-family);

  &:hover {
    background-color: var(--nw-color-primary-100);
  }

  &--selected {
    background-color: var(--nw-color-primary-100) !important; //todo remove important
  }

  &__with-icon {
    padding: 2px;
  }

  &__secondary {
    background-color: var(--nw-color-primary-200);
    padding: 5px 10px;
  }
}
