.rde-tooltip {
  position: absolute;
  z-index: 10000;
  max-width: 250px;
  background-color: var(--rde-color-primary-900);
  border-radius: 5px;
  padding: 6px 9px;
  font-size: 11px;
  border: none;
  gap: 2px;
  display: flex;
  flex-direction: column;
  width: auto;
  white-space: nowrap;
  text-align: left;
  font-family: var(--rde-font-family);

  p {
    margin: 0;
    font-weight: 300;
    color: var(--rde-color-primary-300);
    width: 100%;
    display: block;
    box-sizing: border-box;
    white-space: nowrap;
  }

  .bold-word {
    font-weight: 500;
    color: var(--rde-color-white);
  }

  &.single-line-no-bold p {
    color: var(--rde-color-white);
  }
}
