<section class="demo-section">
  <div class="container">
    <h2 class="section-title">Experience It Yourself 🎬</h2>
    <p class="section-description">jump in and explore the editor in action and experience the power, flexibility, and fun in our interactive demo</p>

    <div class="demo-container">
      <div class="demo-preview">
        <div class="demo-browser-header">
          <div class="browser-dots">
            <span class="browser-dot"></span>
            <span class="browser-dot"></span>
            <span class="browser-dot"></span>
          </div>
          <div class="browser-address-bar">https://ngx-wysicat.netlify.app</div>
        </div>
        <div class="demo-content">
          <div class="editor-wrapper">
            <p style="font-family: 'JetBrains Mono'; color: #4a6cf7">hello cat world<br>(demo soon)</p>
<!--            <nw-root [editorData]="data" (editorDataChanged)="handleData($event)">-->
<!--              <nw-header header [enableSettings]="true">-->
<!--                <nw-header-author author [authorData]="authorData"/>-->
<!--                <div details style="display: flex;">-->
<!--                  <nw-header-details details [lastUpdatedDate]="documentLastUpdatedDate()"/>-->
<!--                  <div class="vertical-divider vertical-divider&#45;&#45;big"></div>-->
<!--                  <nw-document-settings-menu position="horizontal"-->
<!--                                              (documentSettingsToggle)="toggleDrawer()"-->
<!--                                              (readOnlyToggle)="toggleReadOnly()"-->
<!--                                              (addToFavouritesToggle)="toggleAddToFavourite()"/>-->
<!--                </div>-->
<!--              </nw-header>-->

<!--              <div floatingMenu>-->
<!--                <nw-document-settings-menu position="vertical"-->
<!--                                            (documentSettingsToggle)="toggleDrawer()"-->
<!--                                            (readOnlyToggle)="toggleReadOnly()"-->
<!--                                            (addToFavouritesToggle)="toggleAddToFavourite()"/>-->
<!--              </div>-->
<!--            </nw-root>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
